<section class="gallery">
  <div class="container">
    <ul class="gallery-list">
      <li class="gallery-list-item-first gallery-item">
        <picture>
          <source
            srcset="
              ../img/gallery/ecotote_desk.png 1x,
              ../img/gallery/ecotote_desk.png 2x
            "
            media="(min-width: 1440px)"
            sizes="421px"
          />
          <source
            srcset="
              ../img/gallery/ecotote_tab.png 1x,
              ../img/gallery/ecotote_tab.png 2x
            "
            media="(min-width: 768px)"
            sizes="338px"
          />
          <source
            srcset="
              ../img/gallery/ecototeplace.png 1x,
              ../img/gallery/ecototeplace.png 2x
            "
            media="(max-width: 767px)"
            sizes="288px"
          />
          <img src="../img/gallery/ecototeplace.png" alt="gallery" />
        </picture>
      </li>
      <li class="gallery-list-item-two gallery-item">
        <picture>
          <source
            srcset="
              ../img/gallery/cityscene_desk.png 1x,
              ../img/gallery/cityscene_desk.png 2x
            "
            media="(min-width: 1440px)"
            sizes="421px"
          />
          <source
            srcset="
              ../img/gallery/cityscene_tab.png 1x,
              ../img/gallery/cityscene_tab.png 2x
            "
            media="(min-width: 768px)"
            sizes="338px"
          />
          <source
            srcset="
              ../img/gallery/personcarries.png 1x,
              ../img/gallery/personcarries.png 2x
            "
            media="(max-width: 767px)"
            sizes="288px"
          />
          <img src="../img/gallery/personcarries.png" alt="gallery" />
        </picture>
      </li>
      <li class="gallery-list-item-three gallery-item">
        <picture>
          <source
            srcset="
              ../img/gallery/personwalking_desk.png 1x,
              ../img/gallery/personwalking_desk.png 2x
            "
            media="(min-width: 1440px)"
            sizes="421px"
          />
          <source
            srcset="
              ../img/gallery/personwalking_tab.png 1x,
              ../img/gallery/personwalking_tab.png 2x
            "
            media="(min-width: 768px)"
            sizes="338px"
          />
          <source
            srcset="
              ../img/gallery/personwalking.png 1x,
              ../img/gallery/personwalking.png 2x
            "
            media="(max-width: 767px)"
            sizes="288px"
          />
          <img src="../img/gallery/personwalking.png" alt="gallery" />
        </picture>
      </li>
      <li class="gallery-list-item-four gallery-item">
        <picture>
          <source
            srcset="
              ../img/gallery/youngwoman_desk.png 1x,
              ../img/gallery/youngwoman_desk.png 2x
            "
            media="(min-width: 1440px)"
            sizes="421px"
          />
          <source
            srcset="
              ../img/gallery/youngwoman_tab.png 1x,
              ../img/gallery/youngwoman_tab.png 2x
            "
            media="(min-width: 768px)"
            sizes="338px"
          />
          <source
            srcset="
              ../img/gallery/youngwoman.png 1x,
              ../img/gallery/youngwoman.png 2x
            "
            media="(max-width: 767px)"
            sizes="288px"
          />
          <img src="../img/gallery/youngwoman.png" alt="gallery" />
        </picture>
      </li>
      <li class="gallery-list-item-four gallery-item">
        <picture>
          <source
            srcset="
              ../img/gallery/youngwoman_desk.png 1x,
              ../img/gallery/youngwoman_desk.png 2x
            "
            media="(min-width: 1440px)"
            sizes="421px"
          />
          <source
            srcset="
              ../img/gallery/youngwoman_tab.png 1x,
              ../img/gallery/youngwoman_tab.png 2x
            "
            media="(min-width: 768px)"
            sizes="338px"
          />
          <source
            srcset="
              ../img/gallery/youngwoman.png 1x,
              ../img/gallery/youngwoman.png 2x
            "
            media="(max-width: 767px)"
            sizes="288px"
          />
          <img src="../img/gallery/youngwoman.png" alt="gallery" />
        </picture>
      </li>
    </ul>
  </div>
</section>
